<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 mx-0">
      <ul class="list-group">
        <li *ngFor="let book of books" 
             class="list-group-item"
             [ngClass]="{'active': book.id===active?.id}"
             (click)="setActive(book)">
             <img [src]="book.img ? book.img : '../../../assets/img/about-bg.jpg'"  height="40">
          {{ book.title }} - {{ book.author }}
          <div class="pull-right">
            <span [style.color]="book.price < 15 ? 'red' : ''">
              {{ book.price | number: "1.2-2" }}
            </span>
            <i class="fa fa-trash ml-3 cursor-pointer" (click)="deleteBook($event,book)"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-12 mx-0">
      <app-form 
      [active]="active"
      [books]="books"
      [imageSrc]="imageSrc"></app-form>
    </div>
  </div>
</div>

<hr />
